<h1>Welcome to my Website bagian <%= bidang %></h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque in voluptatum
  sed molestiae libero quam incidunt, voluptatem quod corporis, consectetur
  sequi soluta accusamus qui fuga consequatur nulla expedita similique nisi.
</p>
